@page


@using Microsoft.AspNetCore.Identity
@using RazorAreas.Areas.Identity.Data.DbContexts
@using RazorAreas.Areas.Identity.Data.Models
@inject UserManager<AppUser> userManager;
@inject UserContext context;

@model RazorAreas.Pages.Admin.AdminPageModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Действия</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in context.Users.ToList())
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary">Изменить</a>
                    <a class="btn btn-danger">Удалить</a>
                    <a class="btn btn-warning">Изменить права</a>
                </td>
            </tr>
        }
    </tbody>
</table>
